.invert {
    filter: invert(1);

}

.bg-black {
    background-color: rgb(14, 13, 13);
}

.bg-grey {
    background-color: #1a1a1a;
}

.margin-left {
    margin-left: 21px;
}

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.opacity {
    opacity: 0;
}
input[type="range"] {
    width: 65%;
    -webkit-appearance: none;
    height: 5px;
    background: white;
    border-radius: 40px;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #1a1a1a; /* Black */
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ffffff; /* White */
  }